name: CI

on:
  push:
    branches: ["main", "work"]
  pull_request:
    branches: ["main", "work"]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: python -m pip install poetry==1.8.3

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run tests
        run: poetry run pytest

  static-typing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: python -m pip install poetry==1.8.3

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Static type checking
        run: poetry run python -m compileall src
